html {
    font-size: 18px;
    font-weight: 200;
}

.field {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

body {
    background-color: #272727;
    color: #fff;
}

.dark-text {
    color: #272727;
}

.btn-small {
    margin: 5px;
}

.main-div {
    border-top: 2px solid white;
}

.minor-div {
    border-top: 2px solid white;
    border-radius: 5px;
    width: 25%;
}

.profile {
    width: 100%;
    display: inline;
    visibility: visible;

}

.spacer {
    margin-top: 50px;
}

.lg-text {
    font-size: 1.5rem;
}

.xl-text {
    font-size: 2rem;
}

.xxl-text {
    font-size: 2.5rem;
}