@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/***********************************  GENERAL STYLING  ************************************/

/*****  Elements  *****/

html {
    font-family: Economica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #272727;
    color: #fff;
}

a {
    color: #ffab00;
}

/*****  Fonts  *****/

.satisfy {
    font-family: Satisfy, cursive;
}

.sm-text {
    font-size: 1rem;
    margin-top: 0px;
}

.md-text {
    font-size: 1.25rem;
    margin-top: 0px;
}

.lg-text {
    font-size: 1.5rem;
    margin-top: 0px;
}

.xl-text {
    font-size: 2rem;
    margin-top: 0px;
}

.xxl-text {
    font-size: 2.5rem;
    margin-top: 0px;
}

/*****  Classes  *****/

.btn {
    margin-bottom: 10px;
}

.spacer {
    margin-top: 50px;
}

.affiliate {
    margin: 20px 0px;
}

.hidden {
    display: none;
}

.profile-img {
    max-height: 500px;
}

.word-space {
    word-spacing: 0.5rem;
}

.thumbnail {
    max-height: 100px;
}

.brand-logo {
    margin-left: 10px;
}