html {
    font-size: 18px;
    font-weight: 200;
}

.field {
    
}

body {
    background-color: #272727;
    color: #fff;
}

.dark-text {
    color: #272727;
}

.btn, .btn-small {
    margin-bottom: 10px;
}

.main-div {
    border-top: 2px solid white;
}

.minor-div {
    border-top: 2px solid white;
    border-radius: 5px;
}

.profile {
    width: 100%;
    display: inline;
    visibility: visible;

}

.spacer {
    margin-top: 50px;
}

.sm-text {
    font-size: 1rem;
    margin-top: 0px;
}

.md-text {
    font-size: 1.25rem;
    margin: 0px;
}

.lg-text {
    font-size: 1.5rem;
    margin: 0px;
}

.xl-text {
    font-size: 2rem;
    margin: 0px;
}

.xxl-text {
    font-size: 2.5rem;
    margin: 0px;
}

.affiliate {
    margin: 20px 0px;
}

.hidden {
    display: none;
}

a {
    color: goldenrod;
}

.parent {
    height: 300px;
    position: relative;
}

.child {
    position: absolute;
    bottom: 0;
}

#card-content {

}

.film-img {
    max-width: 250px;

}