{% extends "base.html" %}
{% block content %}
    <!--========================================== HEADER -->
    <h1 class="center-align satisfy">About</h1>
    <!--========================================== MAIN TEXT -->
    <section>
        <!--=========== intro -->
        <h2 class="xxl-text amber-text text-accent-4">Welcome to The Art of Film.</h2>
        <div class="md-text">
            <p>
                This site is for the cinephiles; the lovers of the beautiful 
                and divine craft that is filmmaking.
            </p>
            <p>
                The intention of the site is to harbour that divine spark within each 
                of us to truly engage with film, to share that passion, and to find more 
                precious testaments to its power over our human existence.
            </p>
            <p>
                Within this site, you’ll find an index of films that are ranked using 
                a special system that combines five metrics to create a film’s Ultimate Score. 
                These metrics focus on the artistic nature of filmmaking, but as we all know, 
                art is a subjective business, one person’s trash is another person’s treasure.
            </p>
        </div>
        <!--=========== five metrics box -->
        <div class="row">
            <div class="col s10 m6 offset-s1 offset-m3">
                <div class="card-panel center-align grey darken-3 z-depth-5">
                    <h3>The five metrics</h3>
                    <p class="lg-text">
                        <i class="fas fa-eye amber-text text-accent-4"></i> Visual appeal<br>
                        <i class="fas fa-headphones amber-text text-accent-4"></i> Auditory appeal<br>
                        <i class="fas fa-quote-right amber-text text-accent-4"></i> Dialogue<br>
                        <i class="fas fa-surprise amber-text text-accent-4"></i> Emotive impact<br>
                        <i class="fas fa-peace amber-text text-accent-4"></i> Symbolism</b>
                    </p>
                </div>
            </div>
        </div>
        <!--=========== five metrics text -->
        <div class="md-text">
            <p>
                Each of the metrics is explored in more detail below. Upon reviewing a film, 
                users submit their ranking for each metric out of a maximum score of 10. Film 
                are then averaged across these ranks and assigned an Ultimate Score, a master 
                determinant of a film’s worth.
            </p>
            <p>
                There is no way to add a score without reviewing a film, but your reviews can be 
                as short and succinct as you like, provided you leave a minimum of 10 characters.
            </p>
            <p>
                You are invited to add any films you like, so that others can give their verdict. 
                You can delete your own reviews anytime, but films can only be deleted if there are 
                no reviews attached to them.
            </p>
            <p class="lg-text amber-text text-accent-4">
                Please explore and enjoy the site, fellow cinephile.
            </p>
        </div>
    </section>
    <!--========================================== METRICS -->
    <section>
        <h2 class="hidden">Metrics</h2>
        <div class="md-text">
            <!--=========== visual appeal -->
            <h3 class="center-align">
                <i class="fas fa-eye amber-text text-accent-4"></i> Visual Appeal
            </h3>
            <p>
                The Visual Appeal metric measures (wait for it…) how visually appealing 
                you find the film. Visual storytelling, location, set and costume design, 
                colour palette, and even the props used can factor into your verdict for 
                this metric. The definition of your TV, maybe not.
            </p>
            <!--=========== auditory appeal -->
            <h3 class="center-align">
                <i class="fas fa-headphones amber-text text-accent-4"></i> Auditory Appeal
            </h3>
            <p>
                The Auditory Appeal metric follows visual appeal in being self-explanatory. 
                Here, common factors include the soundtrack, the sound effects, any background noise, 
                the dramatism used, and the timing of delivery of such auditory cues. 
                Try not to use your own involuntary shrieks as significant factors, however.
            </p>
            <!--=========== dialogue -->
            <h3 class="center-align">
                <i class="fas fa-quote-right amber-text text-accent-4"></i> Dialogue
            </h3>
            <p>
                The Dialogue metric attempts to gauge just how well-written the dialogue in the film is. 
                To some, this means pleasingly poetic; to others, it means poignantly pithy; to others still,
                it means painfully prosaic. You get my drift.
            </p>
            <!--=========== emotive impact -->
            <h3 class="center-align">
                <i class="fas fa-surprise amber-text text-accent-4"></i> Emotive Impact
            </h3>
            <p>
                The Emotive Impact metric tries to quantify the emotional impact of the film. 
                Which emotions it has garnered, how strongly, and how impactful these emotions 
                have been on the way you view your life and the world are all good determinants here. 
                How angry you were when you couldn’t find the remote, less so.
            </p>
            <!--=========== symbolism -->
            <h3 class="center-align">
                <i class="fas fa-peace amber-text text-accent-4"></i> Symbolism
            </h3>
            <p>Finally, the Symbolism metric determines the depth of the artistic creation upon which you 
                have feasted your retinas, but as with all deeper insights, this one can be the hardest to 
                judge. Still, it can also be the most rewarding. I’m sure anyone can piece together the symbolic 
                nature of the labyrinth in Pan’s Labyrinth or the clowns in Joker, but what about the role of 
                oranges in The Godfather, or deer in Get Out, or water in Moonlight? Luckily, you can make 
                some things up for good measure; Titanic was about capitalism, right?
            </p>
        </div>
    </section>
{% endblock %}