{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align">Add Review</h1>
    <!-------------------------------------------- ADD REVIEW FORM -->
    <section class="row">
        <h2 class="center-align">{{ film.title }}</h2>
        <form class="col s12 m8 l6 offset-m2 offset-l3" method="POST" action="{{ url_for('add_review', film_id=film_id, film=film) }}">
            <!------------- review title -->
            <div class="row">
                <div class="input-field col s12 field">
                    <input id="title" name="title" type="text" class="">
                    <label for="title">Title</label>
                </div>
            </div>
            <!------------- review -->
            <div class="row">
                <div class="input-field col s12 field">
                    <textarea id="review" name="review"class="materialize-textarea"></textarea>
                    <label for="review">Review</label>
                </div>
            </div>
            <!------------- visual appeal metric -->
            <div class="row">
                <div class="col s12 field">
                    <p class="range-field">
                        <label for="visual">Visual Appeal (consider: colour, location, set design, costumes, props)</label>
                        <input type="range" id="visual" name="visual" min="0" max="10" />
                    </p>
                </div>
            </div>
            <!------------- auditory appeal metric -->
            <div class="row">
                <div class="col s12 field">
                    <p class="range-field">
                        <label for="auditory">Auditory Appeal (consider: soundtrack, sound effects, background noise, dramatism, timing)</label>
                        <input type="range" id="auditory" name="auditory" min="0" max="10" />
                    </p>
                </div>
            </div>
            <!------------- dialogue metric -->
            <div class="row">
                <div class="col s12 field">
                    <p class="range-field">
                        <label for="dialogue">Dialogue (consider: language used, believable vs fantastical, poetic vs prosaic, poignancy)</label>
                        <input type="range" id="dialogue" name="dialogue" min="0" max="10" />
                    </p>
                </div>
            </div>
            <!------------- emotive impact metric -->
            <div class="row">
                <div class="col s12 field">
                    <p class="range-field">
                        <label for="emotive">Emotive Impact (consider: did it move you? How did it make you feel about the subject, yourself, and life?)</label>
                        <input type="range" id="emotive" name="emotive" min="0" max="10" />
                    </p>
                </div>
            </div>
            <!------------- symbolism metric -->
            <div class="row">
                <div class="col s12 field">
                    <p class="range-field">
                        <label for="symbolism">Symbolism (consider: was there any symbolism? Were the themes relevant, important, affective, poignant, etc?)</label>
                        <input type="range" id="symbolism" name="symbolism" min="0" max="10" />
                    </p>
                </div>
            </div>
            <!------------- film title -->
            <div class="chips chips-placeholder-2 chips-autocomplete-2 field"></div>
            <!------------- film title -->
            <div class="row">
                <div class="input-field col s12 field">
                    <input disabled value="{{ session['member'] }}" name="member" id="member">
                    <label for="member" class=""></label>
                </div>
            </div>
            <!------------- film title -->
            <div class="row">
                <button type="submit" class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small grey white-text">Save</button>
            </div>
        </form>
    </section>
{% endblock %}
