{% extends "base.html" %}
{% block content %}
    <!--========================================== HEADER -->
    <h1 class="center-align satisfy">Add Review</h1>
    <!--========================================== ADD REVIEW FORM -->
    <section class="row">
        <h2 class="center-align amber-text text-accent-4">{{ film.title }}</h2>
        <form class="col s12 m10 l8 offset-m1 offset-l2" method="POST"
            action="{{ url_for('add_review', film_id=film_id, film=film) }}">
            <div class="card-panel grey darken-3 z-depth-5">
                <!--=========== DETAILS SECTION -->
                <h3 class="lg-text center-align amber-text text-accent-4">Review Details</h3>
                <!--=========== review title -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input id="title" name="title" type="text" class="white-text" required>
                        <label for="title" class="white-text"><b>Title</b></label>
                    </div>
                </div>
                <!--=========== review -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <textarea id="review" name="review"
                            class="materialize-textarea white-text" required></textarea>
                        <label for="review" class="white-text"><b>Review</b></label>
                    </div>
                </div>
                <!--=========== METRICS SECTION -->
                <h3 class="lg-text center-align amber-text text-accent-4">Review Metrics</h3>
                <!--=========== visual appeal metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="visual" class="white-text">
                                <b>Visual Appeal</b> 
                                (consider: colour, location, set design, costumes, props)
                            </label>
                            <input type="range" id="visual" name="visual" min="0" max="10"/>
                        </p>
                    </div>
                </div>
                <!--=========== auditory appeal metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="auditory" class="white-text">
                                <b>Auditory Appeal</b> (consider: soundtrack, sound 
                                effects, background noise, dramatism, timing)
                            </label>
                            <input type="range" id="auditory" name="auditory" min="0" max="10" />
                        </p>
                    </div>
                </div>
                <!--=========== dialogue metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="dialogue" class="white-text">
                                <b>Dialogue</b> (consider: language used, believable vs 
                                fantastical, poetic vs prosaic, poignancy)
                            </label>
                            <input type="range" id="dialogue" name="dialogue" min="0" max="10" />
                        </p>
                    </div>
                </div>
                <!--=========== emotive impact metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="emotive" class="white-text">
                                <b>Emotive Impact</b> (consider: did it move you? How did it make 
                                you feel about the subject, yourself, and life?)
                            </label>
                            <input type="range" id="emotive" name="emotive" min="0" max="10" />
                        </p>
                    </div>
                </div>
                <!--=========== symbolism metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="symbolism" class="white-text">
                                <b>Symbolism</b> (consider: was there any symbolism? Were the 
                                themes relevant, important, affective, poignant, etc?)
                            </label>
                            <input type="range" id="symbolism" name="symbolism" min="0" max="10" />
                        </p>
                    </div>
                </div>
                <!--=========== USER SECTION -->
                <h3 class="lg-text center-align amber-text text-accent-4">User Details</h3>
                <!--=========== submitting member: disabled -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input disabled value="{{ session['member'] }}" 
                            name="member" id="member" class="white-text">
                        <label for="member" class="white-text"></label>
                    </div>
                </div>
                <!--=========== BUTTONS -->
                <div class="row center-align">
                    <div class="col s12 center-align">
                        <button type="submit" 
                            class="waves-effect waves-light btn teal z-depth-2 hvr-grow">
                            <i class="far fa-save left"></i>Save
                        </button>
                    </div>
                    <div class="col s12 center-align">
                        <a href="{{ url_for('film', film_id=film_id) }}"
                            class="waves-effect waves-light btn grey z-depth-2 hvr-grow">
                            <i class="far fa-trash-alt left"></i>Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
