<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>The Art of Film</title>
</head>
<body>
    <a id="skip-to-main" href="#content" tabindex="0">Skip to main content</a>
    <header>
        <!-------------------------------------------- NAVBAR -->
        <nav class="nav-extended transparent z-depth-0">
            <div class="nav-wrapper">
                <!------------- site logo -->
                <a href="{{ url_for('index') }}" class="brand-logo">A|F</a>
                <!------------- materialize functionality -->
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <!------------- NAVIGATION -->
                <ul class="right hide-on-med-and-down">
                    <!------------- for everyone -->
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <!------------- for those logged in -->
                    {% if session.member %}
                        <li><a href="{{ url_for('members', member=session['member']) }}">Member's Area</a></li>
                        <li><a href="{{ url_for('add_film') }}">Add Film</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    <!------------- for non-members / those logged out -->
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                    <!------------- for everyone -->
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </nav>
        <!-------------------------------------------- MOBILE SIDENAV -->
        <ul class="sidenav" id="mobile-demo">
            <!------------- site logo -->
            <li><a class="center-align grey-text text-darken-3">A|F</a></li>
            <!------------- NAVIGATION -->
            <!------------- for everyone -->
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <!------------- for those logged in -->
            {% if session.member %}
                <li><a href="{{ url_for('members', member=session['member']) }}">Member's Area</a></li>
                <li><a href="{{ url_for('add_film') }}">Add Film</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            <!------------- for non-members / those logged out -->
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            <!------------- for everyone -->
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </header>
    <!-------------------------------------------- FLASH MESSAGES -->
    <section>
        <h2 class="hidden">Notifications</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <p class="lg-text amber-text text-accent-4 center-align">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!-------------------------------------------- CHILD TEMPLATE -->
    <section class="container s12 m10 offset-m1" id="content">
        <h2 class="hidden">Main Content</h2>
        {% block content %}
        {% endblock %}
        <!-------------------------------------------- AFFILIATE BOX -->
        <div class="row spacer">
            <div class="col s12 center-align grey darken-1 z-depth-5 spacer">
                <h3 class="lg-text affiliate">Ready to watch a movie?</h3>
                <!------------- pitch -->
                <p>
                    <b>Amazon's Prime Video has a constantly increasing catalogue of films,
                    but it also allows for the rental and purchase of almost any film you can think of.</b>
                </p>
                <!------------- main afiliate link -->
                <a class="center-align lg-text" target="_blank"
                    href="https://www.amazon.com/gp/search?ie=UTF8&tag=wildapeventur-20&linkCode=ur2&linkId=84797582b0b79cd03c9f2f8a39722e95&camp=1789&creative=9325&index=instant-video&keywords=prime video">
                    <b>Visit Prime</b>
                </a>
                <!------------- disclosure -->
                <p>
                    (The Art of Film makes a minor commision if you use this link and purchase something
                    from Amazon. This does not impact the price you pay.)</p>
            </div>
        </div>
    </section>
    <!-------------------------------------------- END OF CONTENT -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>