{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align satisfy">Edit Member</h1>
    <!-------------------------------------------- EDIT MEMBER FORM -->
    <section class="row">
        <h2 class="center-align amber-text text-accent-4">{{ member.username }}</h2>
        <form class="col s12 m10 l8 offset-m1 offset-l2" method="POST"
            action="{{ url_for('edit_member', member_id=member._id) }}">
            <div class="card-panel grey darken-3 z-depth-5">
                <!------------- PROFILE SECTION -->
                <h3 class="lg-text center-align amber-text text-accent-4">User Profile</h3>
                <!------------- tagline -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input value="{{ member.tagline }}" id="tagline" 
                            name="tagline" type="text" class="white-text">
                        <label for="tagline" class="white-text"><b>Your tagline</b></label>
                    </div>
                </div>
                <!------------- film -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ member.film }}" id="film" name="film" type="text" class="white-text">
                        <label for="film" class="white-text"><b>Your favourite film</b></label>
                    </div>
                </div>
                <!------------- quote -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ member.quote }}" id="quote"
                            name="quote" type="text" class="white-text">
                        <label for="quote" class="white-text"><b>Your favourite quote</b></label>
                    </div>
                </div>
                <!------------- character -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ member.character }}" id="character"
                            name="character" type="text" class="white-text">
                        <label for="character" class="white-text"><b>Your favourite character</b></label>
                    </div>
                </div>
                <!------------- creator -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ member.creator }}" id="creator"
                            name="creator" type="text" class="white-text">
                        <label for="creator" class="white-text"><b>Your favourite creator</b></label>
                    </div>
                </div>
                <!------------- profile pic -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ member.profile_url }}" id="profile_url"
                            name="profile_url" type="text" class="white-text">
                        <label for="profile_url" class="white-text">
                            <b>The URL of your desired profile picture</b>
                        </label>
                    </div>
                </div>
                <!------------- BUTTONS -->
                <div class="row center-align">
                    <div class="col s12 center-align">
                        <button type="submit" 
                            class="waves-effect waves-light btn teal z-depth-2 hvr-grow">
                            <i class="far fa-save left"></i>Save
                        </button>
                    </div>
                    <div class="col s12 center-align">
                        <a href="{{ url_for('members', member=member.username) }}"
                            class="waves-effect waves-light btn grey z-depth-2 hvr-grow">
                            <i class="fas fa-times left"></i>Cancel
                        </a>
                    </div>
                    <!------------- delete profile warning -->
                    <div class="col s12">
                        <p>
                            If you really must you can delete your entire account here - but there's no going back.
                            Why not check out these <a href="{{ url_for('index') }}" class="hvr-grow">awesome films</a> instead?
                        </p>
                    </div>
                    <div class="col s12 center-align">
                        <a href="{{ url_for('delete_member', member_id=member._id) }}"
                            class="waves-effect waves-light btn red z-depth-2 hvr-grow">
                            <i class="far fa-trash-alt left"></i>Delete
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
