{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align satisfy">Edit Film</h1>
    <!-------------------------------------------- EDIT FILM FORM -->
    <section class="row">
        <h2 class="hidden">Edit Film Form</h2>
        <form class="col s12 m10 l8 offset-m1 offset-l2" method="POST" action="{{ url_for('edit_film', film_id=film_id) }}">
            <div class="card-panel grey darken-3 z-depth-5">
                <!------------- film title -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input value="{{ film.title }}" id="title" name="title" type="text" class="white-text">
                        <label for="title" class="white-text">Title</label>
                    </div>
                </div>
                <!------------- film year -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ film.year }}" id="year" name="year" type="text" class="white-text">
                        <label for="year" class="white-text">Year</label>
                    </div>
                </div>
                <!------------- film director -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ film.director }}" id="director" name="director" type="text" class="white-text">
                        <label for="director" class="white-text">Director</label>
                    </div>
                </div>
                <!------------- film synopsis -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <textarea id="synopsis" name="synopsis"class="materialize-textarea white-text">
                            {{- film.synopsis -}}
                        </textarea>
                        <label for="synopsis" class="white-text">Synopsis</label>
                    </div>
                </div>
                <!------------- film image url -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ film.image_url }}" id="image_url" name="image_url" type="text" class="white-text">
                        <label for="image_url" class="white-text">Image URL</label>
                    </div>
                </div>
                <!------------- submitting member: disabled -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input disabled value="{{ session['member'] }}" name="member" id="member" class="white-text">
                        <label for="member" class="white-text"></label>
                    </div>
                </div>
                <!------------- submit button -->
                <div class="row">
                    <button type="submit" class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small teal white-text">
                        <i class="far fa-save left"></i>Save
                    </button>
                    <p><a href="{{ url_for('film', film_id=film_id) }}"
                        class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small grey white-text">
                        <i class="fas fa-times left"></i>Cancel
                    </a></p>
                    {% if final_review.member == session.member %}
                        <a href="{{ url_for('delete_film', film_id=film_id) }}"
                            class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small red white-text">
                            <i class="far fa-trash-alt left"></i>Delete
                        </a>
                    {% else %}
                        <div class="col s12">
                            <p>You can't delete {{ film.title }} as there are existing reviews by other users
                                against the film. Edit/delete your reviews 
                                <a href="{{ url_for('members', member=session['member']) }}">here</a>.
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </section>
{% endblock %}
