{% extends "base.html" %}
{% block content %}
<h1 class="center-align">Edit Review</h1>

<div class="row">
    <form class="col s12 m8 l6 offset-m2 offset-l3" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
        <div class="row">
            <div class="input-field col s12 field">
                <input value="{{ review.title }}" id="title" name="title" type="text" class="">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 field">
                <textarea id="review" name="review"class="materialize-textarea">
                    {{- review.review -}}
                </textarea>
                <label for="review">Review</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 field">
                <p class="range-field">
                    <label for="visual">Visual</label>
                    <input type="range" id="visual" name="visual" min="0" max="10" />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 field">
                <p class="range-field">
                    <label for="auditory">Auditory</label>
                    <input type="range" id="auditory" name="auditory" min="0" max="10" />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 field">
                <p class="range-field">
                    <label for="dialogue">Dialogue</label>
                    <input type="range" id="dialogue" name="dialogue" min="0" max="10" />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 field">
                <p class="range-field">
                    <label for="emotive">Emotive</label>
                    <input type="range" id="emotive" name="emotive" min="0" max="10" />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 field">
                <p class="range-field">
                    <label for="symbolism">Symbolism</label>
                    <input type="range" id="symbolism" name="symbolism" min="0" max="10" />
                </p>
            </div>
        </div>
        <div class="chips chips-placeholder-2 chips-autocomplete-2 field"></div>
        <div class="row">
            <div class="input-field col s12 field">
                <input disabled value="{{ session['member'] }}" name="member" id="member">
                <label for="member" class=""></label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small grey white-text">Save</button>
            <a href="{{ url_for('delete_review', review_id=review._id) }}"
                class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small red white-text">Delete Review</a>
            <a href="{{ url_for('film', film_id=review.film_id) }}"
                class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small teal black-text">Cancel</a>
        </div>
    </form>
  </div>

{% endblock %}
