{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align satisfy">Edit Film</h1>
    <!-------------------------------------------- EDIT FILM FORM -->
    <section class="row">
        <h2 class="hidden">Edit Film Form</h2>
        <form class="col s12 m10 l8 offset-m1 offset-l2" method="POST" 
            action="{{ url_for('edit_film', film_id=film_id) }}">
            <div class="card-panel grey darken-3 z-depth-5">
                <!------------- FILM SECTION -->
                <h3 class="lg-text center-align amber-text text-accent-4">Film Details</h3>
                <!------------- film title -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input value="{{ film.title }}" id="title" 
                            name="title" type="text" class="white-text" required>
                        <label for="title" class="white-text"><b>Title</b></label>
                    </div>
                </div>
                <!------------- film year -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ film.year }}" id="year" 
                            name="year" type="text" class="white-text" required>
                        <label for="year" class="white-text"><b>Year</b></label>
                    </div>
                </div>
                <!------------- film director -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ film.director }}" id="director" 
                            name="director" type="text" class="white-text" required>
                        <label for="director" class="white-text"><b>Director</b></label>
                    </div>
                </div>
                <!------------- film synopsis -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <textarea id="synopsis" name="synopsis"
                            class="materialize-textarea white-text" required>
                            {{- film.synopsis -}}
                        </textarea>
                        <label for="synopsis" class="white-text"><b>Synopsis</b></label>
                    </div>
                </div>
                <!------------- film image url -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input  value="{{ film.image_url }}" id="image_url" 
                            name="image_url" type="text" class="white-text">
                        <label for="image_url" class="white-text"><b>Image URL</b></label>
                    </div>
                </div>
                <!------------- USER SECTION -->
                <h3 class="lg-text center-align amber-text text-accent-4">User Details</h3>
                <!------------- submitting member: disabled -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input disabled value="Updated by {{ session['member'] }}" 
                            name="member" id="member" class="white-text">
                        <label for="member" class="white-text"></label>
                    </div>
                </div>
                <!------------- BUTTONS -->
                <div class="row center-align">
                    <div class="col s12 center-align">
                        <button type="submit" 
                            class="waves-effect waves-light btn teal z-depth-2 hvr-grow">
                            <i class="far fa-save left"></i>Save
                        </button>
                    </div>
                    <div class="col s12 center-align">
                        <a href="{{ url_for('film', film_id=film_id) }}"
                            class="waves-effect waves-light btn grey z-depth-2 hvr-grow">
                            <i class="fas fa-times left"></i>Cancel
                        </a>
                    </div>
                    <!------------- film protection loop -->
                    {% if final_review.member == session.member %}
                        <div class="col s12 center-align">
                            <a href="{{ url_for('delete_film', film_id=film_id) }}"
                                class="waves-effect waves-light btn red z-depth-2 hvr-grow">
                                <i class="far fa-trash-alt left"></i>Delete
                            </a>
                        </div>
                    {% else %}
                        <div class="col s12">
                            <p>You can't delete <b>{{ film.title }}</b> as there are existing reviews by other users
                                against the film. Edit/delete your reviews 
                                <a href="{{ url_for('members', member=session['member']) }}">here</a>.
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </section>
{% endblock %}
