{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align satisfy">Edit Review</h1>
    <!-------------------------------------------- EDIT REVIEW FORM -->
    <section class="row">
        <h2 class="center-align amber-text text-accent-4">{{ film.title }}</h2>
        <form class="col s12 m10 l8 offset-m1 offset-l2" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <div class="card-panel grey darken-3 z-depth-5">
                <!------------- review title -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input value="{{ review.title }}" id="title" name="title" type="text" class="white-text">
                        <label for="title" class="white-text">Title</label>
                    </div>
                </div>
                <!------------- review -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <textarea id="review" name="review" class="materialize-textarea white-text">
                            {{- review.review -}}
                        </textarea>
                        <label for="review" class="white-text">Review</label>
                    </div>
                </div>
                <!------------- visual appeal metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="visual" class="white-text">
                                <b>Visual Appeal</b> (consider: visual storytelling, colour, location, set design, costumes, props)
                            </label>
                            <input type="range" id="visual" name="visual" min="0" max="10" value="{{ review.metrics.visual }}"/>
                        </p>
                    </div>
                </div>
                <!------------- auditory appeal metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="auditory" class="white-text">
                                Auditory Appeal (consider: soundtrack, sound effects, background noise, dramatism, timing)
                            </label>
                            <input type="range" id="auditory" name="auditory" min="0" max="10" value="{{ review.metrics.auditory }}"/>
                        </p>
                    </div>
                </div>
                <!------------- dialogue metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="dialogue" class="white-text">
                                Dialogue (consider: language used, believable vs fantastical, poetic vs prosaic, poignancy)
                            </label>
                            <input type="range" id="dialogue" name="dialogue" min="0" max="10" value="{{ review.metrics.dialogue }}"/>
                        </p>
                    </div>
                </div>
                <!------------- emotive impact metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="emotive" class="white-text">
                                Emotive Impact (consider: did it move you? How did it make you feel about the subject, yourself, and life?)
                            </label>
                            <input type="range" id="emotive" name="emotive" min="0" max="10" value="{{ review.metrics.emotive }}"/>
                        </p>
                    </div>
                </div>
                <!------------- symbolism metric -->
                <div class="row">
                    <div class="col s12 field">
                        <p class="range-field">
                            <label for="symbolism" class="white-text">
                                Symbolism (consider: was there any symbolism? Were the themes relevant, important, affective, poignant, etc?)
                            </label>
                            <input type="range" id="symbolism" name="symbolism" min="0" max="10" value="{{ review.metrics.symbolism }}"/>
                        </p>
                    </div>
                </div>
                <!------------- descriptor tags: tbc -->
                <div class="chips chips-placeholder-2 chips-autocomplete-2 field"></div>
                <!------------- submitting member: disabled -->
                <div class="row">
                    <div class="input-field col s12 field">
                        <input disabled value="{{ session['member'] }}" name="member" id="member" class="white-text">
                        <label for="member" class="white-text"></label>
                    </div>
                </div>
                <!------------- save/delete/cancel buttons -->
                <div class="row">
                    <button type="submit" class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small teal white-text">
                        <i class="far fa-save left"></i>Save
                    </button>
                    <a href="{{ url_for('film', film_id=review.film_id) }}"
                        class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small grey white-text">
                        <i class="fas fa-times left"></i>Cancel
                    </a>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}"
                        class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 btn-small red white-text">
                        <i class="far fa-trash-alt left"></i>Delete
                    </a>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
