{% extends "base.html" %}
{% block content %}
    <!--------------------------------------------  HEADING -->
    <h1 class="center-align satisfy">{{ film.title }}</h1>
    <p class="center-align xxl-text white-text"><i class="fas fa-star amber-text text-accent-4"></i><b> {{ film.ultimate_score|round(1) }}</b></p>
    <!--------------------------------------------  SUMMARY -->
    <section class="row">
        <h2 class="center-align">Summary</h2>
            <div class="col s12 m8 offset-m2">
                <div class="card horizontal grey darken-3 z-depth-5">
                    <div class="card-image">
                        <img src="{{ film.image_url }}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="md-text"><b>SYNOPSIS:</b> {{ film.synopsis }}</p><br><br>
                            {% if film.member == session.member %}
                                <p class="right-align">Added by <a href="{{ url_for('members', member=session['member']) }}"><b>{{ film.member }}</b></a></p>
                            {% else %}
                                <p class="right-align">Added by <a href="{{ url_for('profile', username=film.member) }}"><b>{{ film.member }}</b></a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--------------------------------------------  DETAILS -->
    <section class="row">
        <h2 class="center-align">Details</h2>
        <div class="col s12 m8 offset-m2">
            <div class="card-panel grey darken-3 z-depth-5">
                <p>
                    <span class="xl-text">{{ film.title }}</span>
                    <span class="xl-text">({{ film.year }})</span></br>
                    <span class="lg-text">by <b>{{ film.director }}</b></span><br>
                </p>
                <p class="lg-text center-align word-space">
                    <i class="fas fa-eye amber-text text-accent-4"></i><b> {{ film.metrics.visual_average|round(1) }} </b>
                    <i class="fas fa-headphones amber-text text-accent-4"></i><b> {{ film.metrics.auditory_average|round(1) }} </b>
                    <i class="fas fa-quote-right amber-text text-accent-4"></i><b> {{ film.metrics.dialogue_average|round(1) }} </b>
                    <i class="fas fa-surprise amber-text text-accent-4"></i><b> {{ film.metrics.emotive_average|round(1) }} </b>
                    <i class="fas fa-peace amber-text text-accent-4"></i><b> {{ film.metrics.symbolism_average|round(1) }} </b>
                </p>
                {% if session.member %}
                    <div class="center-align spacer">
                        <a href="{{ url_for('edit_film', film_id=film._id) }}" class="waves-effect waves-light btn white grey-text text-darken-3 center-align">
                            <i class="fas fa-pen left"></i>Edit Film
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!--------------------------------------------  REVIEWS -->
    <section class="row">
        <h2 class="center-align">Reviews</h2>
        {% if (session.member) and (user_reviews == 0) %}
                <div class="col s12 center-align">
                    <a href="{{ url_for('add_review', film_id=film._id, film=film) }}"
                        class="waves-effect waves-light btn amber accent-4 grey-text text-darken-3 center-align">
                        <i class="fas fa-plus left"></i>Add Review
                    </a>
                </div>
        {% endif %}
        <div class="col s12 m8 offset-m2">
            {% for review in reviews %}
                <div class="card-panel grey darken-3 z-depth-5">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="xl-text">
                                <b>{{ review.title }}</b><br>
                                <i class="fas fa-star amber-text text-accent-4"></i><b>{{ review.ultimate_score }}</b>
                            </p>
                            <p class="md-text">
                                {{ review.review }}
                            </p>
                            {% if review.member == session.member %}
                                <p class="right-align">
                                    by <a href="{{ url_for('members', member=session['member']) }}"><b>{{ review.member }}</b></a>
                                </p>
                            {% else %}
                                <p class="right-align">
                                    by <a href="{{ url_for('profile', username=review.member) }}"><b>{{ review.member }}</b></a>
                                </p>
                            {% endif %}
                            <p class="lg-text center-align word-space">
                                <i class="fas fa-eye amber-text text-accent-4"></i><b> {{ review.metrics.visual }} </b>
                                <i class="fas fa-headphones amber-text text-accent-4"></i><b> {{ review.metrics.auditory }} </b>
                                <i class="fas fa-quote-right amber-text text-accent-4"></i><b> {{ review.metrics.dialogue }} </b>
                                <i class="fas fa-surprise amber-text text-accent-4"></i><b> {{ review.metrics.emotive }} </b>
                                <i class="fas fa-peace amber-text text-accent-4"></i><b> {{ review.metrics.symbolism }} </b><br>
                            </p>
                            {% if review.member == session.member %}
                                <div class="center-align">
                                    <a href="{{ url_for('edit_review', review_id=review._id) }}"
                                        class="waves-effect waves-light btn white grey-text text-darken-3 center-align spacer">
                                        <i class="fas fa-pen left"></i>Edit Review</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
