{% extends "base.html" %}
{% block content %}

    <!---------- MAIN HEADING ----------->
    <h1 class="center-align">{{ film.title }}</h1>
    <!---------- SUMMARY SECTION ----------->
    <h2 class="center-align">Summary</h2>
    {{ film.synopsis }}<br><br>
    <div>
        Added by <a href="{{ url_for('profile', username=film.member) }}" >{{ film.member }}</a>
    </div>
    <hr class="main-div">
    <!---------- DETAILS SECTION ----------->
    <h2 class="center-align">Details</h2>
    <p>
    TITLE: {{ film.title }}<br>
    YEAR: {{ film.year }}<br>
    DIRECTOR: {{ film.director }}<br>
    IMAGE: {{ film.image_url }}<br>
    ULTIMATE RATING: {{ film.ultimate_score }}<br>
    VISUAL RATING: {{ film.visual_average }}<br>
    AUDITORY RATING: {{ film.auditory_average }}<br>
    DIALOGUE RATING: {{ film.dialogue_average }}<br>
    EMOTIVE RATING: {{ film.emotive_average }}<br>
    SYMBOLISM RATING: {{ film.symbolism_average }}<br><br>
    </p>
    {% if session.member %}
        <div class="center-align">
            <a href="{{ url_for('edit_film', film_id=film._id) }}" class="waves-effect waves-light btn yellow black-text center-align"><i class="fas fa-pen left"></i>Edit Film</a>
        </div>
    {% endif %}
    <hr class="main-div">
    <!---------- REVIEWS SECTION ----------->
    <h2 class="center-align">Reviews</h2>
    {% if session.member %}
        <div class="center-align">
            <a href="{{ url_for('add_review', film_id=film._id, film=film) }}" class="waves-effect waves-light btn teal center-align"><i class="fas fa-pen left"></i>Add Review</a>
        </div>
    {% endif %}

    {% for review in reviews %}
        <p>{{ review.title }}</p>
        <div>
            by <a href="{{ url_for('profile', username=review.member) }}" >{{ review.member }}</a>
        </div>
        {{ review.review }}<br>
        {{ review.metrics.visual }}<br>
        {{ review.metrics.auditory }}<br>
        {{ review.metrics.dialogue }}<br>
        {{ review.metrics.emotive }}<br>
        {{ review.metrics.symbolism }}<br><br>
        {% if session.member %}
        <div class="center-align">
            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="waves-effect waves-light btn yellow black-text center-align">
                <i class="fas fa-pen left"></i>Edit Review</a>
        </div>
        {% endif %}
        <hr class="minor-div">
    {% endfor %}
{% endblock %}
