{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align">The Art of Film</h1>
    <!-------------------------------------------- SEARCH BAR -->
    <section class="row">
        <h2 class="hidden">Search Bar</h2>
        <form class="col s12 m8 offset-m2" method="post" action="{{ url_for('search') }}">
            <div class="row valign-wrapper">
                <div class="col input-field s9">
                    <input class="white-text" type="text" name="query" id="query" minlength="3" required>
                    <label for="query">Search Films</label>
                </div>
                <div class="col s3">
                    <button type="submit" class="btn grey darken-3">
                        <i class="fas fa-search amber-text text-accent-4"></i>
                    </button>
                    <a href="{{ url_for('index') }}" class="btn grey darken-3"><i class="fas fa-undo amber-text text-accent-4"></i></a>
                </div>
            </div>
        </form>
    </section>
    <!-------------------------------------------- INDEX -->
    <section class="row">
        <h2 class="hidden">Main Index</h2>
        <div class="col s12 m8 offset-m2">
            {% for film in films %}
                <div class="card horizontal grey darken-3 z-depth-5">
                    <div class="card-image">
                        <img src="{{ film.image_url }}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                                <span class="xxl-text"><i class="fas fa-star amber-text text-accent-4"></i><b> {{ film.ultimate_score|round(1) }}</b><br>
                                <span class="xl-text"><a href="{{ url_for('film', film_id=film._id) }}"><b>{{ film.title }}</b></a></span><br>
                                <span class="lg-text">({{ film.year }})</span><br>
                                <span class="lg-text">{{ film.director }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
