{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align satisfy">The Art of Film</h1>
    <!-------------------------------------------- SEARCH BAR -->
    <section class="row">
        <h2 class="hidden">Search Bar</h2>
        <form class="col s12 m8 offset-m2" method="post" action="{{ url_for('search') }}">
            <div class="row valign-wrapper">
                <!------------- search input field/label -->
                <div class="col input-field s9">
                    <input class="white-text" type="text" name="query" id="query" minlength="3" required>
                    <label for="query">Search Films</label>
                </div>
                <!------------- search & refresh buttons -->
                <div class="col s3">
                    <button type="submit" class="btn grey darken-3">
                        <i class="fas fa-search amber-text text-accent-4"></i>
                    </button>
                    <a href="{{ url_for('index') }}" class="btn grey darken-3">
                        <i class="fas fa-undo white-text"></i>
                    </a>
                </div>
            </div>
        </form>
    </section>
    <!-------------------------------------------- INDEX -->
    <section class="row">
        <h2 class="hidden">Main Index</h2>
        <!------------- FILM CARD LOOP -->
        <div class="col s12 m10 offset-m1">
            {% for film in films %}
                <!------------- start of card panel -->
                <div class="card horizontal grey darken-3 z-depth-5">
                    <!------------- film image -->
                    <div class="card-image">
                        <img src="{{ film.image_url }}">
                    </div>
                    <!------------- film info -->
                    <div class="card-stacked">
                        <div class="card-content">
                            <!-- score -->
                            <p class="xxl-text"><i class="fas fa-star amber-text text-accent-4"></i>
                                <b> {{ film.ultimate_score|round(1) }}</b><br>
                            </p>
                            <!-- title -->
                            <p class="xl-text">
                                <a href="{{ url_for('film', film_id=film._id) }}">
                                    <b>{{ film.title }}</b>
                                </a>
                            </p>
                            <!-- year -->
                            <p class="lg-text">
                                ({{ film.year }})<br><br>
                            </p>
                            <!-- director -->
                            <p class="lg-text">
                                Directed by <b>{{ film.director }}</b><br><br>
                            </p>
                            <!-- tailored affiliate link -->
                            <div class="spacer center-align">
                                {% set url = "https://www.amazon.com/gp/search?ie=UTF8&tag=wildapeventur-20&linkCode=ur2&linkId=84797582b0b79cd03c9f2f8a39722e95&camp=1789&creative=9325&index=instant-video&keywords=" %}
                                <a class="xl-text" target="_blank" href="{{ url + film.title }}">
                                    <em>Watch Now</em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------- end of card panel -->
            {% endfor %}
        </div>
    </section>
{% endblock %}
