{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align">Log In</h1>
    <!-------------------------------------------- LOGIN FORM -->
    <section class="row">
        <h2 class="hidden">Log In Form</h2>
        <form class="col s12 m10 l8 offset-m1 offset-l2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel grey darken-3 z-depth-5">
                <!------------- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-cog prefix white-text"></i>
                        <input id="username" name="username" type="text" minlength="3" maxlength="20"
                            pattern="^[a-zA-Z0-9]{3,20}$" class="validate white-text" required>
                        <label for="username" class="white-text">Username</label>
                    </div>
                </div>
                <!------------- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix white-text"></i>
                        <input id="password" name="password" type="password" minlength="8" maxlength="20"
                        pattern="^[a-zA-Z0-9]{8,20}$" class="validate white-text" required>
                        <label for="password" class="white-text">Password</label>
                    </div>
                </div>
                <!------------- submit button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large grey white-text">Log In</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}