{% extends "base.html" %}
{% block content %}
    <!-------------------------------------------- HEADER -->
    <h1 class="center-align">Member's Area</h1>
    <!-------------------------------------------- PROFILE -->
    <section>
        <h2 class="center-align">{{ member.username }}</h2>
        <div class="row card-panel grey darken-3 z-depth-5">
            <!------------- profile picture -->
            <div class="col s4">
                <img class="profile" src="{{url_for('static', filename='img/barton-fink.jpeg')}}">
            </div>
            <!------------- profile text -->
            <div class="col s8">
                <p class="lg-text"><b>Tagline:</b> {{ member.tagline }}</p>
                <p class="lg-text"><b>Film:</b> {{ member.film }}</p>
                <p class="lg-text"><b>Quote:</b> "{{ member.quote }}"</p>
                <p class="lg-text"><b>Character:</b> {{ member.character }}</p>
                <p class="lg-text"><b>Creator:</b> {{ member.creator }}</p>
                <a href="{{ url_for('edit_member', member_id=member._id) }}"
                    class="waves-effect waves-light btn yellow black-text center-align">
                    <i class="fas fa-pen left"></i>Edit Profile
                </a>
            </div>
        </div>
    </section>

<!-------------------------------------------- FILMS -->
    <section>
        <h2 class="center-align">Films</h2>
        <div class="row card-panel grey darken-3 z-depth-5">
            {% for film in films %}
                {% if film.member == session.member %}
                    <p class="xl-text"><a href="{{ url_for('film', film_id=film._id) }}"><b>{{ film.title }}</b></a></p>
                    <p class="lg-text"><b>{{ film.ultimate_score }}</b></p>
                    <p class="md-text">{{ film.director }}</p>
                    <p class="md-text">({{ film.year }})</p>
                    {% if loop.first %}
                        {% if loop.last == False %}
                            <hr class="minor-div">
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
<!-------------------------------------------- REVIEWS -->
    <section>
        <h2 class="center-align">Reviews</h2>
        <div class="row">
            {% for review in reviews %}
                {% if review.member == session.member %}
                    <div class="card-panel grey darken-3 z-depth-5">
                        <p class="xl-text"><b>{{ review.title }}</b></p>
                        <p class="md-text">{{ review.review }}</p>
                        <p>
                            VISUAL APPEAL: <b>{{ review.metrics.visual }}</b><br>
                            AUDITORY APPEAL: <b>{{ review.metrics.auditory }}</b><br>
                            DIALOGUE: <b>{{ review.metrics.dialogue }}</b><br>
                            EMOTIVE IMPACT: <b>{{ review.metrics.emotive }}</b><br>
                            SYMBOLISM: <b>{{ review.metrics.symbolism }}</b><br><br>
                        </p>
                        <div class="center-align">
                            <a href="{{ url_for('edit_review', review_id=review._id) }}"
                                class="waves-effect waves-light btn yellow black-text center-align">
                                <i class="fas fa-pen left"></i>Edit Review</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}
