{% extends "base.html" %}
{% block content %}
<!-------------------------------------------- HEADER -->
    <h1 class="center-align">Member's Area</h1>
<!-------------------------------------------- PROFILE -->
    <h2 class="center-align">{{ member.username }}</h2>
    <div class="row">
        <div class="col s4">
            <img class="profile" src="{{url_for('static', filename='img/barton-fink.jpeg')}}">
        </div>
        <div class="col s8">
            <p class="lg-text"><b>Tagline:</b> {{ member.tagline }}</p>
            <p class="lg-text"><b>Film:</b> {{ member.film }}</p>
            <p class="lg-text"><b>Quote:</b> "{{ member.quote }}"</p>
            <p class="lg-text"><b>Character:</b> {{ member.character }}</p>
            <p class="lg-text"><b>Creator:</b> {{ member.creator }}</p>
            <a href="{{ url_for('edit_member', member_id=member._id) }}" class="waves-effect waves-light btn yellow black-text center-align"><i class="fas fa-pen left"></i>Edit Profile</a>
        </div>
    </div>
    <hr class="main-div">
<!-------------------------------------------- FILMS -->
    <h2 class="center-align">Films</h2>
    <div class="center-align">
        {% for film in films %}
            {% if film.member == session.member %}
                <p class="lg-text"><b>{{ film.title }}</b></p>
                <p class="md-text">{{ film.director }}<br>
                    ({{ film.year }})</p><br>
                <a href="{{ url_for('film', film_id=film._id) }}">See more</a>
                {% if loop.last == False %}
                    <hr class="minor-div">
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <hr class="main-div">
<!-------------------------------------------- REVIEWS -->
    <h2 class="center-align">Reviews</h2>
        <div class="center-align">
            {% for review in reviews %}
                {% if review.member == session.member %}
                    <p class="xl-text"><b>{{ review.title }}</b></p>
                    <p class="md-text">{{ review.review }}</p>
                    <p>VISUAL APPEAL: {{ review.metrics.visual }}<br>
                    AUDITORY APPEAL: {{ review.metrics.auditory }}<br>
                    DIALOGUE: {{ review.metrics.dialogue }}<br>
                    EMOTIVE IMPACT: {{ review.metrics.emotive }}<br>
                    SYMBOLISM: {{ review.metrics.symbolism }}</p><br>
                    <div class="center-align">
                        <a href="{{ url_for('edit_review', review_id=review._id) }}" class="waves-effect waves-light btn yellow black-text center-align">
                            <i class="fas fa-pen left"></i>Edit Review</a>
                    </div>
                    {% if loop.last == False %}
                        <hr class="minor-div">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}
