{% extends "base.html" %}
{% block content %}
    <!--========================================== HEADER -->
    <h1 class="center-align satisfy">Member's Area</h1>
    <!--========================================== PROFILE -->
    <section class="row">
        <h2 class="center-align">Profile</h2>
        <div class="col s12">
            <div class="card horizontal grey darken-3 z-depth-5">
                <!--=========== profile picture -->
                <div class="card-image">
                    <img class="profile-img" src="{{ member.profile_url }}" alt="Profile image for {{ member.username }}">
                </div>
                <!--=========== profile text -->
                <div class="card-stacked">
                    <div class="card-content">
                        <h3 class="xl-text center-align">{{ member.username }}</h3>
                        <div class="spacer">
                            <!--=========== profile info -->
                            <p><b>Tagline:</b> {{ member.tagline }}</p>
                            <p><b>Film:</b> {{ member.film }}</p>
                            <p><b>Quote:</b> "{{ member.quote }}"</p>
                            <p><b>Character:</b> {{ member.character }}</p>
                            <p><b>Creator:</b> {{ member.creator }}</p>
                            <!--=========== edit profile button -->
                            <a href="{{ url_for('edit_member', member_id=member._id) }}"
                                class="waves-effect waves-light btn white grey-text text-darken-3 center-align hvr-grow spacer">
                                <i class="fas fa-pen left"></i>Edit Profile
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--========================================== FILMS -->
    <section class="row">
        <h2 class="center-align">Films</h2>
        <!--=========== FILM CARD LOOP -->
        <div class="col s12 m8 offset-m2">
            {% for film in films %}
                <!--=========== start of film panel -->
                <div class="card horizontal grey darken-3 z-depth-5">
                    <!--=========== film image -->
                    <div class="card-image">
                        <img src="{{ film.image_url }}" alt="Film image for {{ film.title }}">
                    </div>
                    <!--=========== film info -->
                    <div class="card-stacked">
                        <div class="card-content">
                            <!-- film title -->
                            <p class="lg-text">
                                <a href="{{ url_for('film', film_id=film._id) }}" class="hvr-grow">
                                    <b>{{ film.title }}</b>
                                </a>
                            </p>
                            <!-- film ultimate score -->
                            <p class="lg-text">
                                <i class="fas fa-star amber-text text-accent-4"></i>
                                <b> {{ film.ultimate_score }}</b><br><br>
                            </p>
                            <!-- film director -->
                            <p class="md-text">
                                <b>{{ film.director }}</b>
                            </p>
                            <!-- film year -->
                            <p class="md-text">
                                ({{ film.year }})<br><br>
                            </p>
                            <!-- film metrics -->
                            <p class="md-text left-align word-space">
                                <i class="fas fa-eye amber-text text-accent-4"></i>
                                <b> {{ film.metrics.visual_average|round(1) }}</b>
                                <i class="fas fa-headphones amber-text text-accent-4"></i>
                                <b> {{ film.metrics.auditory_average|round(1) }}</b>
                                <i class="fas fa-quote-right amber-text text-accent-4"></i>
                                <b> {{ film.metrics.dialogue_average|round(1) }}</b>
                                <i class="fas fa-surprise amber-text text-accent-4"></i>
                                <b> {{ film.metrics.emotive_average|round(1) }}</b>
                                <i class="fas fa-peace amber-text text-accent-4"></i>
                                <b> {{ film.metrics.symbolism_average|round(1) }}</b>
                            </p>
                        </div>
                    </div>
                </div>
            <!--=========== end of film panel -->
            {% endfor %}
            <!--=========== zero films added panel -->
            {% if films|length == 0 %}
                <div class="card-panel grey darken-3 z-depth-5">
                    <p>No films added yet! Add one 
                        <a href="{{ url_for('add_film') }}" class="hvr-grow"><b>here</b></a>
                    </p>
                </div>
            {% endif %}
        </div>
    </section>
<!--========================================== REVIEWS -->
    <section class="row">
        <h2 class="center-align">Reviews</h2>
        <!--=========== REVIEW CARD LOOP -->
        <div class="col s12 m8 offset-m2">
            {% for review in reviews %}
                <!--=========== start of review panel -->
                <div class="card-panel grey darken-3 z-depth-5">
                    <!--=========== film info (if film matches review) -->
                    {% for film in all_films %}
                        {% if film._id|string == review.film_id|string %}
                            <div class="row">
                                <!-- film thumbnail -->
                                <div class="col s12 center-align">
                                    <img class="thumbnail" src="{{ film.image_url }}" alt="Film image for {{ film.title }}">
                                </div>
                                <!-- film title & score -->
                                <div class="col s12 center-align md-text">
                                    <p>
                                        <a href="{{ url_for('film', film_id=film._id) }}" class="hvr-grow">
                                            <b>{{ film.title }}</b>
                                        </a><br>
                                        <i class="fas fa-star amber-text text-accent-4"></i>
                                        <b> {{ film.ultimate_score }}</b>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!--=========== review info (still within main loop) -->
                    <div class="row">
                        <div class="col s12">
                            <!-- review title & ultimate score -->
                            <p class="lg-text center-align">
                                <b> {{ review.title }}</b><br>
                                <i class="fas fa-star amber-text text-accent-4"></i>
                                <b> {{ review.ultimate_score }}</b>
                            </p>
                            <!-- review body -->
                            <p>
                                {{ review.review }}
                            <br></p>
                            <!-- review metrics -->
                            <p class="md-text center-align word-space">
                                <i class="fas fa-eye amber-text text-accent-4"></i>
                                <b> {{ review.metrics.visual }} </b>
                                <i class="fas fa-headphones amber-text text-accent-4"></i>
                                <b> {{ review.metrics.auditory }} </b>
                                <i class="fas fa-quote-right amber-text text-accent-4"></i>
                                <b> {{ review.metrics.dialogue }} </b>
                                <i class="fas fa-surprise amber-text text-accent-4"></i>
                                <b> {{ review.metrics.emotive }} </b>
                                <i class="fas fa-peace amber-text text-accent-4"></i>
                                <b> {{ review.metrics.symbolism }} </b>
                            </p>
                        </div>
                        <!--=========== edit review button -->
                        <div class="col s12">
                            <div class="center-align">
                                <a href="{{ url_for('edit_review', review_id=review._id) }}"
                                    class="waves-effect waves-light btn white grey-text text-darken-3 center-align hvr-grow spacer">
                                    <i class="fas fa-pen left"></i>Edit Review
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <!--=========== end of review panel -->
            {% endfor %}
            <!--=========== zero reviews added panel -->
            {% if reviews|length == 0 %}
                <div class="card-panel grey darken-3 z-depth-5">
                    <p>
                        No reviews added yet! Find a film to review 
                        <a href="{{ url_for('index') }}" class="hvr-grow"><b>here</b></a>
                    </p>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}
